<ngc-table [collection]="elements" [rowsPerPage]="7">
  <ngc-table-col title="Title" bind="title" class="col-title"></ngc-table-col>
  <ngc-table-col title="Release" bind="release_date"></ngc-table-col>
  <ngc-table-col title="Director" bind="director"></ngc-table-col>
  <ngc-table-col title="Description" [sortable]="false">
    <ng-template ngc-table-cell-temp let-element="element">
      <td>
        <span>{{element.description}}</span>
      </td>
    </ng-template>
  </ngc-table-col>
</ngc-table>

<div style="padding-bottom: 60px;"></div>

<router-outlet></router-outlet>
